.herocontent {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url(C:\Users\Juncheng\Documents\NUS\forumproject\frontend\public\headerimage.jpg);
    height:8vmax;
}

.herotext {
    color: ghostwhite;
    text-align: left;
    transform: translate(+3%, +20%);
    font-weight: 600;
    font-size: calc(10px + 3vmax);
}
.homepageheader {
    display: flex;
}
.postthread {
    display: flex;
    padding-top: 1.2vmax;
    margin-left: 1vmax;
    transform: translate(-3%, 20%);
    padding-bottom: 1vmax;
    width:auto
}
.headerlinks {
    display: flex;
    padding-top: 1.2vmax;
    padding-right: 1vmax;
    justify-content: end;
    align-items:flex-end;
    transform: translate(-3%, 20%);
    padding-bottom: 1vmax;
}

.headerbutton {
    background-color:white;
    color: #063970;
    text-align: center;
    font-size: calc(10px + 1vmax);
    cursor: pointer;
    border: none;
    padding: 0.3vmax 0.7vmax;
    margin-left: 1vmax;
    border-radius: 0.5vmax;
}

.headerbutton:hover {
    background-color: #063970;
    color: ghostwhite;
}

.indivcategory {
    align-items: center;
    padding: 1.6vmax;
    padding-left: 4vmax;
    background-color: #063970;
    margin:2vmax;
}

.categorytitle {
    display: flex;
    font-size: calc(10px + 1vmax);
    font-weight: bold;
    padding-bottom: 1vmax;
    color: ghostwhite;
}

.categorycontent {
    display: flex;
    font-size: calc(10px + 0.7vmax);
    color: ghostwhite;
    width: 35vw;
}

.categorybutton {
    display: flex;
    float: right;
    padding: 0.7vmax;
    transform: translate(0%, -100%);
    border-radius: 1vmax;
    color: #063970;
    font-size: calc(5px + 0.8vmax);
    font-family:DM sans;
    font-weight: 500;
    border-color: #063970;
    cursor: pointer;
}

.categorybutton:hover {
    color:#063970;
    background-color: gainsboro;
    border-color: ghostwhite;
}

.loginpage {
    align-items: center;
    justify-content: center;
}

.logintitle {
    text-align: center;
    padding: 2vmax;
    font-size: calc(10px + 2vmax);
    color: #063970;
    font-weight: 600;
}
.loginformwhole {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginform {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#4e82b8;
    padding: 1vmax;
    color: ghostwhite;
    margin-bottom: 1vmax;
    width: 50vmax;
    height: 10vmax;
}
.form {
    display: flex;
}

.loginlabel {
    padding-right: 1.5vmax;
    font-size: calc(15px + 1vmax);
    text-align: right;
    transform: translate(0%,+4%);
}
.loginbox {
    padding-left: 1.5vmax;
    font-size: calc(15px + 1vmax);
}

.formsubmitbutton {
    border-radius: 0.3vmax;
    background-color: ghostwhite;
    border-color: ghostwhite;
    font-size: calc(5px + 0.5vmax);
}
.formsubmitbutton:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.bottomlink {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup {
    text-align: right;
    padding-right: 2vmax;
    font-size: calc(10px + 0.5vmax);
}

.footerbutton {
    background-color: ghostwhite;
    border-color: gainsboro;
    border-radius: 0.4vmax;
    padding: 0.5vmax;
    font-size: calc(10px + 0.5vmax);
}
.footerbutton:hover {
    cursor: pointer;
    background-color: gainsboro;
}
.threadcategory {
    padding: 1vmax;
    padding-left: 1.5vmax;
    margin: 2vmax;
    margin-top: 1vmax;
    margin-bottom: 0;
    background-color:#063970;
}
.threadcategorytitle {
    font-size: calc(10px + 1.5vmax);
    color: ghostwhite;
    font-weight: 600;
    font-family:DM sans;
}
.threadcategorydescription {
    margin-top: 0.5vmax;
    font-size: calc(10px + 0.5vmax);
    color: ghostwhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.threads {
    margin-top: 0.5vmax;
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding: 1vmax;
}
.thread {
    margin-bottom: 1vmax;
}
.threadtitle {
    padding: 0.8vmax;
    font-size: calc(10px + 1.5vmax);
    color: ghostwhite;
    font-weight: 500;
    background-color: #1c5b9e;
}

.threadcontent {
    padding: 1vmax;
    margin-top: 0;
    font-size: calc(6px + 1vmax); 
    background-color:#f0f6fd;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#0a4079
}

.threadfooter {
    display: flex;
    padding: 1vmax;
    padding-bottom: 0;
    padding-left: 0;
    color:#0a4079;
    justify-content:flex-end;
    align-items: flex-end;
    text-align: right;
    font-size: calc(5px + 0.7vmax);
}

.threadbutton {
    transform: translate(+20%);
}
.threadbutton2 {
    margin-left: 1vmax;
}

.threadbutton:hover {
    cursor: pointer;
    background-color: gainsboro;
}