.herocontent {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url(http://papers.co/wallpaper/papers.co-sf03-dark-blue-ocean-gradation-blur-41-iphone-wallpaper.jpg);
    height:8vmax;
}

.herotext {
    color: ghostwhite;
    text-align: left;
    transform: translate(+3%, +20%);
    font-weight: 600;
    font-size: calc(10px + 3vmax);
}
.homepageheader {
    display: flex;
}
.postthread {
    display: flex;
    padding-top: 1.2vmax;
    margin-left: 1vmax;
    transform: translate(-3%, 20%);
    padding-bottom: 1vmax;
    width:auto
}
.headerlinks {
    display: flex;
    padding-top: 1.2vmax;
    padding-right: 1vmax;
    justify-content: end;
    align-items:flex-end;
    transform: translate(-3%, 20%);
    padding-bottom: 1vmax;
}

.headerbutton {
    background-color:white;
    color: #063970;
    text-align: center;
    font-size: calc(10px + 1vmax);
    cursor: pointer;
    border: none;
    padding: 0.3vmax 0.7vmax;
    margin-left: 1vmax;
    border-radius: 0.5vmax;
}

.headerbutton:hover {
    background-color: #274080;
    color: ghostwhite;
}

.indivcategory {
    align-items: center;
    padding: 1.6vmax;
    padding-left: 4vmax;
    background-color: #274080;
    margin:2vmax;
}

.categorytitle {
    display: flex;
    font-size: calc(10px + 1vmax);
    font-weight: bold;
    padding-bottom: 1vmax;
    color: ghostwhite;
}

.categorycontent {
    display: flex;
    font-size: calc(10px + 0.7vmax);
    color: ghostwhite;
    width: 35vw;
}

.categorybutton {
    display: flex;
    float: right;
    padding: 0.7vmax;
    transform: translate(0%, -100%);
    border-radius: 1vmax;
    color: #274080;
    font-size: calc(5px + 0.8vmax);
    font-family:DM sans;
    font-weight: 500;
    border-color: #274080;
    cursor: pointer;
}

.categorybutton:hover {
    color:#274080;
    background-color: gainsboro;
    border-color: ghostwhite;
}

.loginpage {
    align-items: center;
    justify-content: center;
}

.logintitle {
    text-align: center;
    padding: 2vmax;
    font-size: calc(10px + 2vmax);
    color: #274080;
    font-weight: 600;
}
.loginformwhole {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginform {
    display: flex;
    justify-content: center;
    background-color:#4d66ac;
    padding: 1vmax;
    color: ghostwhite;
    margin-bottom: 1vmax;
    width: 50vmax;
    height: 9vmax;
}
.form {
    display: flex;
}

.loginlabel {
    padding-right: 1.5vmax;
    font-size: calc(15px + 1vmax);
    text-align: right;
    transform: translate(0%,6%);
}
.loginbox {
    padding-left: 1.5vmax;
    font-size: calc(15px + 1vmax);
    transform: translate(0%,5%);
}
.logout {
    margin: 1vmax;
    margin-top: 6vmax;
}
.logoutbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
}
.postlabel {
    padding-right: 1.5vmax;
    font-size: calc(15px + 1vmax);
    text-align: right;
    transform: translate(0%,3%);
}
.postform {
    display: flex;
    justify-content: center;
    background-color:#4d66ac;
    padding: 1vmax;
    color: ghostwhite;
    margin-bottom: 1vmax;
    width: 50vmax;
    height: 15vmax;
}
.formsubmitbutton {
    border-radius: 0.3vmax;
    background-color: ghostwhite;
    border-color: ghostwhite;
    font-size: calc(5px + 1vmax);
}
.formsubmitbutton:hover {
    cursor: pointer;
    background-color: gainsboro;
}
.formsubmitbuttonblue {
    border-radius: 0.3vmax;
    background-color:#32569d;
    border-color:#32569d;
    font-size: calc(10px + 1vmax);
    color: ghostwhite;
    padding: 0.8vmax;
    padding-left: 1.4vmax;
    padding-right: 1.4vmax;
}
.formsubmitbuttonblue:hover {
    cursor: pointer;
    background-color: ghostwhite;
    border-color: ghostwhite;
    color:#274080;
}

.bottomlink {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup {
    text-align: right;
    padding-right: 2vmax;
    font-size: calc(10px + 0.5vmax);
}

.footerbutton {
    background-color: ghostwhite;
    border-color: gainsboro;
    border-radius: 0.4vmax;
    padding: 0.5vmax;
    font-size: calc(10px + 0.5vmax);
}
.footerbutton:hover {
    cursor: pointer;
    background-color: gainsboro;
}
.threadcategory {
    padding: 1vmax;
    padding-left: 1.5vmax;
    margin: 2vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    background-color:#274080;
}
.threadcategorytitle {
    font-size: calc(10px + 1.5vmax);
    color: ghostwhite;
    font-weight: 600;
    font-family:DM sans;
}
.threadcategorydescription {
    margin-top: 0.5vmax;
    font-size: calc(10px + 0.5vmax);
    color: ghostwhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.threadpost {
    padding: 1vmax;
    padding-left: 1.5vmax;
    margin: 2vmax;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    background-color:#1c389e;
}
.thread {
    margin:2vmax;
}
.threads {
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding: 1vmax;
    margin-bottom: 1vmax;
}

.threadtitle {
    padding: 0.8vmax;
    font-size: calc(10px + 1.5vmax);
    color: ghostwhite;
    font-weight: 500;
    background-color: #3d59a1;
}

.threadcontent {
    padding: 1vmax;
    margin-top: 0;
    font-size: calc(6px + 1vmax); 
    background-color:#f7faff;
    font-weight: 400;
    font-family:sans-serif;
    color:#3d59a1
}

.threadfooter {
    display: flex;
    padding: 1vmax;
    padding-bottom: 0;
    padding-left: 0;
    color:#3d59a1;
    justify-content:flex-end;
    align-items: flex-end;
    text-align: right;
    font-size: calc(5px + 0.7vmax);
    font-weight: 400;
}
.threadfooter2 {
    display: flex;
    padding: 1vmax;
    padding-bottom: 0;
    padding-left: 0;
    color:#3d59a1;
    justify-content:flex-start;
    align-items: flex-s;
    text-align: right;
    font-size: calc(5px + 0.7vmax);
}

.threadbutton {
    transform: translate(+20%);
}
.threadbutton2 {
    margin-left: 1vmax;
    transform: translate(0,+20%);
}

.threadbutton:hover {
    cursor: pointer;
    background-color: gainsboro;
}
input[type="text"]
{
    font-size:calc(5px + 1vmax);
}
input[id="password"] {
    margin-bottom: 0.4vmax;
}

input[type="password"]
{
    font-size:calc(5px + 1vmax);
}

.logoutfooter {
    display: flex;
    justify-content: center;
}
.commentthread {
    margin: 4vmax;
    margin-top: 0;
    margin-bottom: 1vmax;
}
.comments {
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding: 1vmax;
    margin-bottom: 1vmax;
    padding-top: 0;
}
.commentheader {
    padding: 0.8vmax;
    padding-left: 0;
    font-size: calc(6px + 1.5vmax);
    color: #405da9;
    font-weight: 500;
}
.commentcontent {
    padding: 0.8vmax;
    margin-left: 3vmax;
    font-size: calc(2px + 1vmax);
    color:#455798;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(242, 242, 248);
}
.commentform {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1vmax;
    color: #3d59a1;
    margin-bottom: 1vmax;
}
.commentbox {
    margin-bottom:0.5vmax;
}
.backbutton {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(-4%, 0%);
}
input[type="commenttext"]
{
    font-size:calc(5px + 1vmax);
    margin-bottom: 0.7vmax;
}
textarea[id="content"] {
    resize: none;
    font-size:calc(5px + 1vmax);
    margin-top: 0.3vmax;
    padding: 0.3vmax;
}
textarea[id="title"] {
    resize: none;
    font-size:calc(5px + 1vmax);
    padding: 0.3vmax;
}
